public_html/hw1/report.html
reporting_html/.htpasswd
public_html/matomo
public_html/cgi-bin/c/*.cgi
public_html/cgi-bin/go/*.cgi
public_html/node_modules
module_development/*
!module_development/c_programs.c
REST_API/vendor
REST_API/.env
REST_API/php_api.log
.jshintrc
self_notes